<!DOCTYPE html>
<html lang="en">
<head>
    <title>New User</title>
</head>
    <body>
        <h1>Please enter a new user's info</h1>
        <form method="POST" action="/users">
            <input type="text" name="firstName" placeholder="First Name.."><br>
            <input type="text" name="lastName" placeholder="Last Name..."><br>
            <input type="text" name="age" placeholder="Age..."><br>
            <input type="text" name="email" placeholder="Email..."><br>
            <input type="submit" value="Add New User">
        </form>
    </body>
</html>